* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f0f0f0;
  overflow-x: hidden;
}

p {
  margin-bottom: 0px;
}

nav {
  position: fixed !important;
  width: -webkit-fill-available !important;
  z-index: 1000;
  background: #fff !important;
}

input[type="file"] {
  display: none;
}

.active {
  color: #2374AB !important;
}

.active p {
  color: #2374AB !important;
}

.custom-file-upload {
  justify-content: center;
  align-items: center;
  background-color: #2374AB;
  color: white;
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 50%;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.spinner-border {
  margin: auto;
  display: flex;
  align-items: center;
}

/* TABLE CSS */
.tableFixHeadDash {
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
}


.tableFixHeadDash tbody {
  display: block;
  height: 200px;
}

.tableFixHeadDash thead tr {
  display: block;
  border: 1px solid black;
}

.tableFixHeadDash tbody tr {
  border-bottom: 1px solid black;
}

.tableFixHeadDash th,
.tableFixHeadDash td {
  min-width: 165px;
  text-align: start;
}

.tableFixHeadCard {
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
}


.tableFixHeadCard tbody {
  display: block;
  height: 200px;

}

.tableFixHeadCard thead tr {
  display: block;
}

.tableFixHeadCard th,
.tableFixHeadCard td {
  width: 138px;
  text-align: start;
}


.tableFixHead {
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
}

.tableFixHead tbody {
  display: block;
  height: 300px;
}

.tableFixHead thead tr {
  display: block;
}

.tableFixHead th,
.tableFixHead td {
  width: 200px !important;
  text-align: start;
}


/* TABLE CSS END */
.extra-pad {
  padding-top: 5rem !important;
}

.response {
  color: rgba(35, 116, 171, 1) !important;
}

.form-control-manual {
  width: 340px !important;
}

/* fonts */
.big-title-white {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.big-title-black {
  color: black;
  font-size: 30px;
}

.title-white {
  color: white;
  font-size: 27px;
}

.title-black {
  color: black;
  font-size: 27px;
}

.heading-white {
  color: white;
  font-size: 22px;
}

.heading-black {
  color: black;
  font-size: 22px;
}

.body-large-white {
  color: white;
  font-size: 17px;
}

.body-large-black {
  text-align: center;
  color: black;
  font-size: 17px;
}

.body-black {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.body-white {
  color: white;
  font-size: 14px;
}

.subtitle-black {
  color: black;
  font-size: 11px;
}

.subtitle-white {
  color: white;
  font-size: 11px;
}

.sm-black {
  color: black;
  font-size: 9px;
}

.sm-white {
  color: white;
  font-size: 9px;
}

.link-text {
  color: #2374AB;
  font-weight: 500;
  text-decoration: none;
}

/* ========================================= */
/* Sidebar */
/* =========================================== */

.sidebar {
  margin: 0;
  padding: 0;
  width: 190px;
  background-color: #fff !important;
  position: fixed;
  height: 100%;
  z-index: 5000;
}

.sidebar-btn {
  width: 150px;
  height: 45px;
  background: #2374AB;
  border-radius: 5px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.sidebar-btn-collapse {
  width: 50px;
  height: 40px;
  background: #2374AB;
  border-radius: 5px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #444;
  display: block;
  transition: 0.5s;
}

.sidebar .dropdown-content a {
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #2374AB;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  border: none;
  background: none;
  padding: 5px;
}

.sidebar-drop {
  justify-content: start !important;
  height: auto !important;
  color: #444 !important;
  transition: 0.5s;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
}

#mySidebar {
  transition: margin-left .5s;
}

.mobile-box {
  width: 140px;
  background: #7855B8;
  border-radius: 4px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* ========================================= */
/* Sidebar End*/
/* =========================================== */


/* ========================================== */
/* Login Page */
/* ========================================== */
.login-left {
  overflow-y: hidden;
  background: #2374AB;
  padding: 1rem 4rem;
}

/* Login Page Right Start */
.login-right {
  overflow-y: scroll;
  background: #ffffff;
}

.login-icon {
  display: flex;
  justify-content: center;
}

.login-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(189, 205, 216, 0.5);
}

.login-icon-bg img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-desc {
  width: 400px;
  margin: auto;
  line-height: 25px;
}

.form-login {
  padding: 1rem 10.5rem 1rem 10.5rem;
}

.btn-login {
  background-color: #2374AB;
  color: white;
  width: 340px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.btn-signup {
  background-color: #2374AB;
  color: white;
  width: 320px;
  height: 45px;
  border-radius: 5px;
  border: none;
}

/* ========================== */
/* Login Page Right End */
/* =========================== */

/* ============================== */
/* Dashboard Page Start */
/* =============================== */

.box {
  display: flex;
  align-items: center;
  width: 370px;
  height: 100px;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #49B8C41A;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.total-response-graph-box {
  background-color: white;
  height: 280px;
  border-radius: 20px;
  width: 845px;
}

.total-response-box {
  background-color: #FB5012;
  height: 280px;
  border-radius: 20px;
  width: 260px;
}

.color-box-blue {
  background: #006CA5;
  height: 20px;
  width: 20px;
  border-radius: 3px;
}

.color-box-green {
  background: #16DB93;
  height: 20px;
  width: 20px;
  border-radius: 3px;
}

.show-select {
  color: #2374AB;
  border: 1px solid #2374AB;
  border-radius: 3px;
}

.pie-image {
  background: url('../Images/pie-round.png');
  height: 136px;
  width: 136px;
}

.icon-over-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 136px;
  width: 136px;
}

.dot-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}

.dot-1 {
  background: #59A8A5;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.dot-2 {
  background: #62B7CB;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.dot-3 {
  background: #FFA837;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.progress {
  background-color: rgba(233, 236, 239, 0.5);
  height: 10px;
}

.progress-bar {
  background-color: rgba(255, 255, 255, 1);
}

/* ====================================== */
/* ========= Dashboard End ========= */
/* ====================================== */

/* ====================================== */
/* ========= Form Builder Start ========= */
/* ====================================== */

.fb-elements {
  background: rgba(35, 116, 171, 0.1);
}

.fb-elements .fb-text {
  color: #2374AB !important;

}

.fb-elements .fb-icons {
  color: rgba(35, 116, 171, 1);
}

.fb-bg-circle {
  background-color: rgba(35, 116, 171, 0.1);
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.publish-btn {
  width: 120px !important;
  height: 40px !important;
  font-size: 15px;
  background: #2374AB !important;
  border-radius: 5px;
  border: none;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center
}

.preview-btn {
  width: 120px !important;
  height: 40px !important;
  font-size: 15px;
  background: white !important;
  border-radius: 5px;
  border: none;
  color: #2374AB !important;
  display: flex;
  align-items: center;
  justify-content: center
}

.btn-toolbar {
  padding-bottom: 10px;
  /* margin: auto; */
}


.float-right {
  float: right;
}

.float-left {
  float: left;
}

.blue {
  background: rgba(35, 116, 171, 0.1);
  color: #2374AB !important;
  border: none;
  padding: 8px;
}

.green {
  background-color: darkolivegreen;
  color: white;
}

.btn-primary {
  background: rgba(35, 116, 171, 0.1) !important;
  color: #2374AB !important;
  border: none;
  padding: 8px !important;
}

.configuration-box {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
}

.button-cross {
  background: rgba(35, 116, 171, 0.1) !important;
  color: #2374AB !important;
  border: none;
  padding: 0px 4px !important;
  border-radius: 3px;
}

.button-pencil {
  background-color: #2374AB;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2px 7px;
  margin-left: 5px
}

.choice-box {
  padding: 1rem;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
}

.choice-sub-box {
  width: 202px;
}

.choice-sub-box p {
  text-align: start !important;
}

/* ====================================== */
/* ========= Form Builder End ========= */
/* ====================================== */

/* ====================================== */
/* ========= Error Page Start ========= */
/* ====================================== */
.error-bg-circle {
  background-color: rgba(35, 116, 171, 0.1);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

/* ====================================== */
/* ========= Error Page End ========= */
/* ====================================== */


/* ====================================== */
/* ========= Applist Page Start ========= */
/* ====================================== */
.popup-hover:hover {
  background-color: rgb(197, 196, 196);
  transition: background-color 0.3s;
  border-radius: 3px;
}

.fb-bg-circle1 {
  background-color: rgba(35, 116, 171, 0.1);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

/* ====================================== */
/* ========= Applist Page End ========= */
/* ====================================== */

/* ====================================== */
/* ========= Response Page Start ========= */
/* ====================================== */
.small-button {
  border: none;
  border-radius: 5px;
  background-color: #2374AB;
  color: white;
  padding: 5px;
}

.download-btn {
  width: 160px;
  height: 40px;
  font-size: 13px;
  background: #2374AB;
  border-radius: 5px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}

.download-response-btn {
  width: 180px;
  height: 40px;
  font-size: 13px;
  background: #2374AB;
  border-radius: 5px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}

.default-select {
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.response-form-name {
  background: rgba(35, 116, 171, 0.2);
  color: rgba(35, 116, 171, 1);
  border-radius: 10px;
  text-align: center;
  width: 70%;
  font-size: 12px;
  padding: 3px;
}

/* ====================================== */
/* ========= Response Page End ========= */
/* ====================================== */

/* ====================================== */
/* ====Form Link List & App Link List==== */
/* ====================================== */
.dropbtn {
  width: 150px;
  height: 40px;
  font-size: 13px;
  background: white;
  border-radius: 5px;
  border: none;
  color: #2374AB;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}

/* ============================================ */
/* ==== Form Link List & App Link List End ==== */
/* ============================================ */


/* =============================== */
/* =======Notification Start====== */
/* =============================== */

.notification-userbox {
  width: 50px;
  height: 50px;
  background: #326273;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-userbox-sm {
  width: 40px;
  height: 40px;
  background: #326273;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-box {
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  overflow-y: scroll;
  max-height: 520px;
}

/* =============================== */
/* ======= Notification End ====== */
/* =============================== */



/* =================================== */
/* ======== Profile Page Start======== */
/* =================================== */

.react-tabs {
  display: flex;
  height: 500px;
  border-radius: 10px;
  color: black;
  background: white;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 0;
  padding: 0;
  color: rgba(35, 116, 171, 1);
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.react-tabs__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.react-tabs__tab--selected {
  border-right: 4px solid #2374AB;
}

.react-tabs__tab-panel {
  display: none;
  padding: 2rem;
  width: 800px;
}

.react-tabs__tab-panel--selected {
  display: block;
  padding: 2rem;
  width: 800px;
}

.react-tabs__tab {
  padding-left: 15px;
  display: flex;
  align-items: center
}

.react-tabs__tab--selected {
  padding-left: 15px;
  background: rgba(35, 116, 171, 0.2);
  color: rgba(35, 116, 171, 1);
}

.react-tabs__tab--selected p {
  color: rgba(35, 116, 171, 1);
}

.social-media-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
}

.social-media-circle .icon {
  font-size: 25px !important;
}


.react-tel-input .form-control {
  width: 340px !important;
}

.tab-icon {
  font-size: 20px !important;
}

.mask1 {
  /* -webkit-mask-image: url('../Images/pencil.jpg');
  mask-image: url('../Images/pencil.jpg');
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; */
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}

/*============ Tab 2 ==========*/
.subscription-box {
  padding: 2rem;
  width: 325px;
  height: 350px;
  /* background: #f0f0f0; */
  border-radius: 20px;
}

.form-check-box {
  background-color: #2374AB;
  color: white;
  border-radius: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 10px !important;
}

.form-check-input:checked {
  border: 1px solid white;
  background-color: #2374AB;
}

.form-check-plan {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  padding: 3px;
}

.checkbox-circle-one {
  display: flex !important;
  align-items: center !important;
  padding-left: 0px !important;
  justify-content: space-between !important;
}

.check-input-one {
  height: 20px !important;
  width: 20px !important;
  padding-inline: 5px !important;
  border-radius: 50% !important;
}

.master-card {
  padding: 1rem;
  background: rgba(29, 60, 79, 1);
  color: white;
  border-radius: 5px;
  height: 200px;
  width: 350px;
}

.master-card-dotted {
  padding: 1rem;
  border: 1px dashed rgba(35, 116, 171, 1);
  border-radius: 5px;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-card-circle {
  background: rgba(35, 116, 171, 0.3);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2374AB;
  border-radius: 25px;
  width: 70px;
  height: 20px;
}

/* .panel-content {
  text-align: center;} */

/* ==================================== */
/* ========= Profile Page End ========= */
/* ==================================== */


.delete-box {
  width: 452px;
  height: 346px;

  background: #FFFFFF;
  border-radius: 13px;
}


/* ========================== */
/* ==========Model=========== */
/* ========================== */
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.7rem; */
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #2374AB;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}


/* ======================= */
/* ======== Alert ======== */
/* ======================= */

.alert {
  animation-name: example;
  animation-duration: 3s;
  z-index: 1000;
}

.alert-success {
  background-color: #2374AB !important;
  border-color: #2374AB !important;
  color: white !important;
}

.alert-danger {
  background-color: #d12727 !important;
  border-color: #d12727 !important;
  color: white !important;
}

@keyframes example {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*=============================*/
/* ======= Action Popup ====== */
/*=============================*/
.popup-content {
  width: 17rem !important;
}

.confirmClosebtn {
  border: none;
  border-radius: 5px;
  color: #2374AB;
  padding: 5px;
  width: 80px;
}

.delBtn {
  border: none;
  border-radius: 5px;
  background: #2374AB;
  color: white;
  padding: 5px;
  width: 80px;
}

.text-url-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.small-spin {
  margin: 0 !important;
  height: 1.5rem;
  width: 1.5rem;
}